mule/src/main/app/mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.1/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.1/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd" version="EE-3.5.2">
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:postgresql://localhost/isnews?password=postgres&amp;user=goncalodias" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration">
    </db:generic-config>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="passwd" database="IS" doc:name="MySQL Configuration"/>
    <data-mapper:config name="List_Map__To_JSON_1" transformationGraphPath="list_map__to_json_1.grf" doc:name="List_Map__To_JSON_1"/>
    <data-mapper:config name="List_Map__To_JSON" transformationGraphPath="list_map__to_json.grf" doc:name="List_Map__To_JSON"/>
    <http:connector name="HTTP_HTTPS" cookieSpec="netscape" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP-HTTPS"/>
    <email:email-to-string-transformer name="email" doc:name="Email to String"/>
    <flow name="Newsletter_HTTP" doc:name="Newsletter_HTTP">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8888" doc:name="HTTP"/>
        <parse-template location="index.tmpl" doc:name="Parse Template"/>
        <http:response-builder status="200" contentType="text/html" doc:name="HTTP Response Builder"/>
    </flow>
    <flow name="Add_Newsletter_HTTP" doc:name="Add_Newsletter_HTTP">
   		<http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8888"  doc:name="HTTP"  path="NewsletterRegister"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select count(*) emailsFound from client where email=#[message.inboundProperties['email']]]]></db:parameterized-query>
        </db:select>
        <choice doc:name="Choice">
            <when expression="#[message.payload.get(0).emailsFound!=0]">
                <set-payload value="'email already added'" doc:name="email founded"/>
            </when>
            <otherwise>
                <set-payload value="'adiciona o email'" doc:name="add email"/>
            </otherwise>
        </choice>
    </flow>
</mule>